{% extends 'base.html' %}

{% block content %}
<header>
    <nav>
        <a href="{% url 'todolist_list' %}">Back to list</a>
        <a href="{% url 'todolist_update' todolist.id %}">Edit</a>
        <a href="{% url 'todolist_delete' todolist.id %}">Delete</a>
    </nav>
</header>
<main>
    
    <h1>{{ todolist.name }}</h1>
    
    <h2>Tasks</h2>
    <table>
    <thead>
        <tr>
            <th><b>Task</b></th>
            <th><b>Due date</b></th>
        </tr>
    </thead>
    <tbody>
        {% for item in todolist.items.all %}
        <tr>
            <td>{{ item.task }}</td>
            <td>{{ item.due_date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</main>
{% endblock content %}