{% extends 'base.html' %}

{% block content %}
<header>
    <h1>My Lists</h1>
    <nav>
       <a href="{% url 'todolist_new' %}">Create a new list</a>
       <a href="{% url 'todoitem_new' %}">Create a new item</a>
    </nav>
</header>
<main>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                
            </tr>
        </thead>
        <tbody>
            {% for name in todolist_list %}
            <tr>
                <td>
                    <a href="{% url 'todolist_detail' name.pk %}">{{ name.name }}</a>
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}